.venv/
__pycache__/
.pytest_cache/
*.pyc
build/
config/settings.json
dist/config/**
!dist/config/.gitkeep
dist/backups/**
!dist/backups/.gitkeep
dist/logs/**
!dist/logs/.gitkeep
*.spec
backups/**
!backups/.gitkeep
logs/**
!logs/.gitkeep
config/**
!config/.gitkeep
